<h1><%= @user.login %></h1>

<table>
  <tr>
    <td>Login:</td>
    <td><%= @user.login %></td>
  </tr>
  <tr>
    <td>Login count:</td>
    <td><%= @user.login_count %></td>
  </tr>
  <tr>
    <td>Profile views:</td>
    <td><%= @user.profile_views %></td>
  </tr>
  <tr>
    <td>First name:</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last name:</td>
    <td><%= @user.last_name %></td>
  </tr>
</table>
<br />

<% if @user == @current_user %>
  <%= link_to "Edit", scoped_url("edit_account_path") %><br />
<% end %>
