<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<% if @company %><h1><%= @company.name %></h1><% end %>

<% if !@current_user %>
  <%= link_to "Register", scoped_url("new_account_path") %> |
  <%= link_to "Log In", scoped_url("new_user_session_path") %>
<% else %>
  <%= link_to "My Account", scoped_url("account_path") %> |
  <%= link_to "Logout", scoped_url("user_session_path"), :method => :delete, :confirm => "Are you sure you want to logout?" %>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
